.bannerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color:darkslategrey;
}
  
.bannerSubTitle {
    position: absolute;
    top: 3%;
    font-size: 20px;
}
  
.bannerMainTitle {
    position: absolute;
    top: 5%;
    font-size: 100px;
}

.bannerImg {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: 100% 0;
  }