.posts{
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.login {
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
  
.loginTitle {
  font-size: 30px;
}
  
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
  
.loginForm > label {
  margin: 10px 0;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

  
